*{
    font-family: 'Roboto', sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

.dot-typing {
    position: relative;
    left: -9999px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #3F72AF;
    color: #3F72AF;
    box-shadow: 9984px 0 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    animation: dotTyping 1.5s infinite linear;
    margin-left: 25px;
    margin-top: 7px;
  }
  
  @keyframes dotTyping {
    0% {
      box-shadow: 9984px 0 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    }
    50% {
      box-shadow: 9984px 0 0 0 #3F72AF, 9999px -10px 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px -10px 0 0 #3F72AF;
    }
    100% {
      box-shadow: 9984px 0 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    }
  }

  .dot-typing2 {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3F72AF;
    color: #3F72AF;
    box-shadow: 9984px 0 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    animation: dotTyping 1.5s infinite linear;
    margin-left: 25px;
    margin-top: 7px;
  }
  
  @keyframes dotTyping {
    0% {
      box-shadow: 9984px 0 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    }
    50% {
      box-shadow: 9984px 0 0 0 #3F72AF, 9999px -10px 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px -10px 0 0 #3F72AF;
    }
    100% {
      box-shadow: 9984px 0 0 0 #3F72AF, 9999px 0 0 0 #3F72AF, 10014px 0 0 0 #3F72AF;
    }
  }

.tituloPagina{
    font-size: 35px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #112D4E;
    margin-bottom: 0;
}

.inicioPagina{
    margin: 0;
    padding: 0;
    text-align: center;
}

.tituloSeccaoPagina{
    font-size: 22px;
    font-weight: 700;
    color: #3F72AF;
}

.tituloSeccaoPaginaNotifs{
    font-size: 18px;
    font-weight: 500;
    color: #F9F7F7;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 40px;
}

.LoadingComponent{
    font-size: 18px;
    font-weight: 700;
    color: #3F72AF;
    margin-top: 5px!important;
    margin-left: 0!important;
    padding-left: 0!important;
}

.LoadingPage{
    font-size: 22px;
    font-weight: 700;
    color: #3F72AF;
    margin-top: 5px!important;
    margin-left: 0!important;
    padding-left: 0!important;
}

.subtituloSeccaoPagina{
    font-size: 18px;
    font-weight: 700;
    color: #112D4E;
    margin-bottom: 4px;
}

.subtituloSeccaoSmol{
    font-size: 15px;
    font-weight: 700;
    color: #112D4E;
    margin-bottom: 4px;
}

.subtituloSeccaoPaginaBigger{
    font-size: 20px;
    font-weight: 700;
    color: #112D4E;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subtituloSeccaoCasa{
    font-size: 18px;
    font-weight: 700;
    color: #3F72AF;
    margin-bottom: 0px;
}

.cidadeSeccaoCasa{
    font-size: 15px;
    font-weight: 700;
}

.obrigatorio{
    font-size: 18px;
    font-weight: 700;
    color: red;
}

.indicaObrigatorio{
    color: red;
    font-size: 14px;
    text-align: right;
    margin-bottom: 10px;
}

.textoSeccaoPagina{
    margin-bottom: 2px;
    font-size: 14px;
}

.bigSmall{
    font-size: 13px;
    margin-top: 0;
    padding-top: 0;
}

.backArrow{
    height: 20px;
    width: auto;
}

.topIcons{
    height: 30px;
    width: auto;
}

.inputsForms{
    background-color: #F9F7F7;
    border: #112D4E solid 1px;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px;
    display: inline;
}

.inputsFormsDisabled{
    display: none;
}

.userId{
    background-color: #F9F7F7;
    border: #112D4E solid 1px;
    border-radius: 5px;
    height: 50%!important;
    width: 20%!important;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 0;
}

.btn-flat2{
    background-color: #3F72AF!important;
    color: #F9F7F7!important;
}

.btn-flat2:hover{
    background-color: #289f52!important;
    transition: background-color .3s cubic-bezier(0.55, 0, 0.55, 0.2)!important;
}

.btn-flat3{
    background-color: #289f52!important;
    color: #F9F7F7!important;
}

.btn-flat3:hover{
    background-color: #3F72AF!important;
    transition: background-color .3s cubic-bezier(0.55, 0, 0.55, 0.2)!important;
}

.AddImagem{
    background-color: #2d507c;
    height: 100%;
}

.mainBody{
    background-color: #FFFFFF;
    padding-bottom: 30px!important;
    min-height: 100vh;
}

.mainBodyForm{
    background-color: #FFFFFF;
    padding-bottom: 30px!important;
    min-height: 100vh;
    width: 100vw!important;
}

.erro404{
    font-size: 90px;
    font-weight: 700;
    color: #112D4E;
}

.divPreview{
    text-align: center;
    min-height: 100px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.stickyTop{
    position: sticky!important;
    top: 0!important;
    position: -webkit-sticky!important;
    background-color: #FFFFFF;
    z-index: 3;
    -webkit-box-shadow: 0px 8px 16px -9px rgba(0,0,0,0.67); 
    box-shadow: 0px 8px 16px -9px rgba(0,0,0,0.67);
    border-bottom: #c9c9c9 solid 2px;
    transition: box-shadow 0.2s ease-in-out;
    transition: border-bottom 0.2s ease-in-out;
}

.notiPreview{
    min-height: 64px!important;
    width: 400px!important;
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: row;
    align-items:center;
    border-radius: 7px;
    font-size: 20px;
    margin: auto;
}

.imgPreview{
    height: 64px;
    width: auto;
}

.textPreview{
    width: 300px;
    margin: auto;
    overflow-wrap: break-word;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
  }
  input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance:none;
    appearance: none;
    margin: -10px; 
  }

.btnSeccao{
    text-align: left!important;
    background-color: #2d507c!important;
    width: 100%!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
    border-radius: 0!important;
}

.prevSeccao{
    text-align: left!important;
    background-color: #2d507c!important;
    width: 100%!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
    border-radius: 0!important;
    padding: 6px 12px;
}

.btnSeccao:hover{
    text-align: left!important;
    background-color: #3F72AF!important;
    font-weight: 700!important;
    width: 100%!important;
    border-radius: 0;
}

.btnSeccao:active{
    background-color: #3F72AF!important;
    width: 100%!important;
    border-radius: 0;
}

.ArrowDown{
    height: 17px;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    margin-right: 40px!important;
}

.ArrowDownRotated{
    height: 17px;
    margin-top: auto;
    margin-bottom: auto;
    transform: rotate(-180deg);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    transition: transform .3s ease-in-out; 
    margin-right: 40px!important; 
}

.ListaUsersForm{
    margin-left: 0px!important;
    margin-right: 0px!important;
    max-height: 200px;
    overflow-y: auto;
    border-bottom: #c9c9c9 solid 2px;
    border-left: #c9c9c9 solid 2px;
    border-right: #c9c9c9 solid 2px;
}

.ListaUsersFormCasa{
    margin-left: 0px!important;
    margin-right: 0px!important;
    max-height: 200px;
    overflow-y: auto;
    border-bottom: #c9c9c9 solid 2px;
    border-left: #c9c9c9 solid 2px;
    border-right: #c9c9c9 solid 2px;
}
.ListaCasaInfo{
    margin-left: 0px!important;
    margin-right: 0px!important;
    max-height: 234px;
    overflow-y: auto;
    border: #c9c9c9 solid 2px;
}

.ListaUsersFormAdicionados{
    margin-left: 0px!important;
    margin-right: 0px!important;
    max-height: 233px;
    overflow-y: auto;
    border: #c9c9c9 solid 2px;
}

.itemListaUsersForm{
    width: 100%;
    height: 40px;
    background-color: #F9F7F7;
    padding: 0!important;
    border-bottom: #c9c9c9 solid 2px;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
}

.itemListaUsersFormCasa{
    width: 100%;
    height: 40px;
    background-color: #eaeaea;
    padding: 0!important;
    border-bottom: #c9c9c9 solid 2px;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    margin: 0!important;
}

.itemListaCasaInfoTitle{
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eaeaea;
    border-bottom: #c9c9c9 solid 2px;
    display: flex!important;
    flex-direction: row!important;
    justify-content: left!important;
}

.infoCasaForm{
    margin-bottom: 0;
    font-size: 14px;
}

.infoCasaFormNome{
    margin-bottom: 0;
    font-size: 15px;
}

.btnListaUser{
    width: 80%!important;
    text-align: center!important;
    height: 30px;
    font-size: 14px!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    margin: auto;
    background-color: #3F72AF!important;
    border: none!important;
    color: #F9F7F7!important;
}

.btnListaUser:hover{
    width: 80%!important;
    text-align: center!important;
    height: 30px;
    font-size: 14px!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    margin: auto;
    background-color: #2d507c!important;
    border: none!important;
    color: #F9F7F7!important;
}

.btnListaUserDisabled{
    width: 80%!important;
    text-align: center!important;
    height: 30px;
    font-size: 14px!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    margin: auto;
    background-color: #3F72AF!important;
    opacity: 50%;
    cursor: initial!important;
    border: none!important;
    color: #F9F7F7!important;
}

.disabledButton{
    background-color: #999999!important;
    color: #000000!important;
    border: none!important;
}

.infoCasaFormUser{
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    padding-left: 30px!important;
}

.barraPesquisaForm{
    background-color: #DBE2EF;
    border-top: #c9c9c9 solid 2px;
    border-left: #c9c9c9 solid 2px;
    border-right: #c9c9c9 solid 2px;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding: 7px;
    font-size: 16px;
    color: #112D4E;
}

.seccaoPrefsUser{
    border: #c9c9c9 solid 2px;
    padding: 15px 10px;
    background-color: #e9e9e9;
    max-height: 930px;
    overflow-y: auto;
}

.textoPrefsUser{
    font-size: 14px;
}

.textoPrefsUserWarning{
    font-size: 14px;
    color: red;
    margin-top: -5px!important;
}

.itensPreview{
    font-size: 14px;
    font-weight: 700;
}

.BladeSection{
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 7px!important;  
}

.MessageSection{
    font-size: 14px;
    margin-bottom: 0;
}

.BladeSectionDisabled{
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 11px!important;
    font-weight: 700;
    display: none;
}

.tableRowEscolha{
    width: 60%!important;
}

.tooltips > .tooltip-inner {
    background-color: #000000;
    opacity: 1;
    color: #FFFFFF;
    max-width: 300px;
}

.tooltips2 > .tooltip-inner {
    background-color: #000000;
    opacity: 1;
    color: #FFFFFF;
    max-width: 600px;
}