.cartasMainBody{
    padding-top: 20px;
}

.cartasForm{
    height: 233px;
    overflow-y: scroll;
}

.headerCarta{
    background-color: #3F72AF!important;
    color: #F9F7F7!important;
    font-weight: 500!important;
}

.bodyCarta{
    background-color: #F9F7F7!important;
    font-size: 14px!important;
    text-align: left!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bodyCartaRotina{
    background-color: #F9F7F7!important;
    font-size: 14px!important;
    text-align: left!important;
}

.bodyCartaTemplate{
    background-color: #F9F7F7!important;
    font-size: 14px!important;
    text-align: center!important;
}

.dataMiddleCarta{
    background-color: #DBE2EF!important;
    color: #112D4E!important;
    font-weight: 500!important;
}

.dataFooterUser{
    font-size: 14px;
    font-weight: 500;
    color: #3F72AF;
}

.dataFooterUserTitle{
    font-size: 15px!important;
    margin-bottom: 2px!important;
}

.textoBtnUser{
    font-size: 13px!important;
}

.tituloUserCarta{
    color: #3F72AF;
    font-weight: 700;
    font-size: 20px;
}

.tituloUserCartaSmall{
    color: #3F72AF;
    font-weight: 700;
    font-size: 18px;
}

.textoSmall{
    font-size: 15px;
}

.tituloGrupoCarta{
    color: #3F72AF;
    font-weight: 700;
    font-size: 20px;
}

.tituloGrupoCartaSmall{
    color: #3F72AF;
    font-weight: 700;
    font-size: 18px;
}

.iconeCard{
    height: 25px;
}

.tituloNotificacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.dataNotifs{
    font-size: 15px;
    font-weight: 500;
    color: #3F72AF;
}

.dataNotifsTitle{
    font-size: 16px!important;
    margin-bottom: 3px!important;
}

.dataNotificacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    text-align: end;
}

.adicionarConteudoNotif{
    background-color: #B7F9B6!important;
    color: #0EC00C!important;
    font-size: 14px;
    text-align: center;
}

.cartaGrupos{
    background-color: #F9F7F7;
}

.iconeCardPlus{
    height: 20px;
}

.textCards{
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.textCardsSmall{
    max-height: 60px;
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.textHouseCards{
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.accordion-button {
    background-color: #F9F7F7 !important;
}

.redDot{
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.greenDot{
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
  