.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  padding-left: 100px;
  padding-right: 100px;
  width: 700px;
}

.vertical{
  border-right: solid 1px lightgrey;
}

.form-control {
  padding: 0.8rem 0.8rem !important;
  font-size: 18px !important;
  border-radius: 10px !important;
}

.button-control {
  padding: 0.6rem 0 !important;
  border-radius: 10px !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  background-color: #3f72af !important;
}

h3 {
  font-weight: 700 !important;
  font-size: 18px !important;
}

.botaoSessao{
  background-color: rgb(204, 15, 15)!important;
}
