.barraNavegacao {
  background-color: #3f72af !important;
  height: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2 !important;
}

.pt1 {
  align-items: flex-start;
}

.pt2 {
  align-items: flex-end;
}

.nav-link {
  color: #f9f7f7 !important;
  font-weight: 400;
  height: 100%;
  padding: 0 20px !important;
  line-height: 48px;
}

.escolheHalf {
  position: relative;
  color: #f9f7f7 !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  height: 97% !important;
  width: 50% !important;
  padding: 0 20px !important;
  line-height: 45px !important;
  background-color: #3f72af !important;
  cursor: pointer !important;
  z-index: 0 !important;
  border-radius: 0 !important;
}

.logoutButton {
  position: relative;
  color: #f9f7f7 !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  height: 97% !important;
  width: 50% !important;
  padding: 0 20px !important;
  line-height: 45px !important;
  background-color: #ed5454 !important;
  cursor: pointer !important;
  z-index: 0 !important;
  border-radius: 0 !important;
}

.logoutButton:hover {
  background-color: #7e2b2b !important;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  cursor: pointer !important;
}

.logout {
  font-weight: 700 !important;
  font-size: 14px !important;
  width: 50px !important;
  background-color: #b73f3f !important;
}

.home {
  position: relative;
  color: #f9f7f7 !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  height: 97% !important;
  width: 5% !important;
  padding: 0 20px !important;
  line-height: 45px !important;
  background-color: #34962b !important;
  cursor: pointer !important;
  z-index: 0 !important;
  border-radius: 0 !important;
}

.home:hover {
  background-color: #1a4c16 !important;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  cursor: pointer !important;
}

.H1 {
  box-shadow: inset 7px -6px 23px -1px rgba(0, 0, 0, 0.1) !important;
}

.H2 {
  box-shadow: inset 7px -6px 23px -1px rgba(0, 0, 0, 0.1) !important;
}

.escolheHalfNot {
  color: #f9f7f7 !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  height: 97% !important;
  width: 50% !important;
  padding: 0 20px !important;
  line-height: 45px !important;
  background-color: #626262 !important;
  cursor: pointer !important;
  z-index: 0 !important;
  border-radius: 0 !important;
}

.btnNav {
  all: unset;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.topPart {
  background-color: #f9f7f7;
  width: 100% !important;
  text-align: center;
}

.escolheHalfNot:hover {
  background-color: #2d507c !important;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  cursor: pointer !important;
}

.nav-link:hover {
  background-color: #2d507c;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}

.navSelected {
  background-color: #2d507c !important;
}

.containerNavBar {
  height: 100%;
}

.linkNavbar {
  text-decoration: none;
  color: #f9f7f7 !important;
}
